
.masthead {
	height: 100vh;
	min-height: 30rem;
	position: relative;
	width: 100%;
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-image: url(./img/bg-masthead.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}

.d-flex {
	display: flex!important;
}


.text-center {
	margin: 0 auto;
	text-align: center;
}

.my-auto {
	margin-bottom: auto;
	margin-top: auto;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: auto;
	margin-top: auto;

}


.masthead h1 {
	margin: 0;
	padding: 0;
	font-size: 5.5rem;
	color: #fff;
}

.mb-1 {
	margin-bottom: .25rem;
}

h1 {
	font-weight: 700;
	line-height: 1.2;
}

.mb-5 {
	margin-bottom: 3rem;
}

h3 {
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 1.2;
	color: #fff;
	margin-top: 0;

}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.btn {
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5;
	display: inline-block;
	text-align: center;
	border-radius: .25rem;
	vertical-align: middle;
}

.btn-primary {
	background-color: #4d9a8f !important;
	border-color: #4d9a8f !important;
	color: #fff;

}

.btn-xl {
	padding: 1.25rem 2.5rem;
}

